services:
  # ===================
  # Edge Layer (API Gateway)
  # ===================
  gateway:
    build:
      context: .
      dockerfile: ./gateway/Dockerfile
    container_name: gateway
    ports:
      - "8080:8080"
    env_file:
      - .env
    networks:
      - spring-network
    depends_on:
      - auth-service
      - user-service
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8080/actuator/health || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 40s

  # ===================
  # Service Layer
  # ===================
  auth-service:
    build:
      context: .
      dockerfile: ./services/authservice/Dockerfile
    container_name: auth-service
    ports:
      - "8081:8081"
    env_file:
      - .env
    networks:
      - spring-network
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8081/actuator/health || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

  user-service:
    build:
      context: .
      dockerfile: ./services/userservice/Dockerfile
    container_name: user-service
    ports:
      - "8082:8082"
    env_file:
      - .env
    networks:
      - spring-network
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8082/actuator/health || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

networks:
  spring-network:
    driver: bridge
